*{
  border: solid 0 black;}


body {
  text-align: center;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2.5rem;
  margin-top: 0;
  color: #66BFBF;
}
h3{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
  margin-top: 0;
  color: #66BFBF;
}

hr{
  width: 3%;
  border-top: dotted 6px #EAF6F6;
}
p{
  line-height: 2;
  font-family: 'Noto Sans JP', sans-serif;

}

.sub_intro {
  font-weight: normal;
}



.top_container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 40px;
}

.middle_container {
  width: 200px
}

.bottom_cloud {
  position: absolute;
  left: 200px;
}

.mid-intro{
  width: 30%;
  margin: 0 auto 30px auto;

}

.top_cloud {
  position: relative;
  left: 200px;
}

.profile_img {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 100%;
  margin: 100px auto 0 auto;

}

.skills h2{
  margin-bottom: 0;
}
.Skill_1,.Skill_2{
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;

}
.Skill_2{
  width: 25%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;

}
.skill-row{
  margin: 100px auto 0 auto;
  width: 50%;
  font-family: 'PT Serif', serif;
  text-align: left;
  line-height: 2;


}

.btn {
   background: #66BFBF;
   height: 10px;
   line-height: 10px;
   color: #FFFFFF;
   font-family: Verdana;
   border-radius: 10px;
   font-size: 18px;
   font-weight: 100;
   padding: 15px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 30px;
}

.btn:hover {
   border: solid #111720 1px;
   background: #061515;
   background-image: -webkit-linear-gradient(top, #061515, #0B2525);
   background-image: -moz-linear-gradient(top, #061515, #0B2525);
   background-image: -ms-linear-gradient(top, #061515, #0B2525);
   background-image: -o-linear-gradient(top, #061515, #0B2525);
   background-image: -webkit-gradient(to bottom, #061515, #0B2525);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   text-decoration: none;
}

.bottom-container{
  background-color: #66BFBF;
  color: #EAF6F6;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 0.5rem;

}

.footer-link{
  color: #11999E;
  font-size: 1rem;

}
.bottom-container a{
  margin: 0 10px;
  text-decoration: none;
}
.contact-me p{
  width: 30%;
  margin: auto;
}

/* .skill_des_1{
  clear: left;
}

.skill_des_2{
  clear: right;
} */
